@model CommsRoomInvent.Models.DataModels.CRoomReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CRoomReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportStatus.ReportStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site.SiteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating.RatingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreformedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreformedBy.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeScheduled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeScheduled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeEnded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFloors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFloors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCRs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCRs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialConsiderations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialConsiderations)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
